* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.head {
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    padding: 14px 100px;
    justify-content: space-between;
}

.a1, .a2 {
    color: white;
    padding: 0 8px;
}

.header {
    display: flex;
    height: 130px;
    justify-content: space-between;
    padding: 2.7%;
    padding-left: 5.2%;
    padding-right: 5.2%;
    background-color: rgba(255, 255, 255, .9);
}

.logo {
    height: 23px;
    width: 193px;
}

.nav {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav ul li a {
    color: black;
    padding: 0 15px;
    font-size: 18px;
}

nav ul li a:hover {
    color: red;
    font-size: 17px;
}

.headerlogo svg:hover {
    width: 22px;
    height: auto;
}

.headerlogo {
    padding: 0 10px;
}
.sidebar{
    width: 100%;
}

.side li a{
    color: black;
    font-size: 25px;
}
.side{
    display: flex;
    justify-content: space-around;
    padding: 100px 12%;
}
.side li{
    list-style: none;
}
.side li a:hover{
    color: red;
    text-decoration: underline red;
    font-size: 24px;
}

footer{
    width: 100%;
    background-color: black;
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: space-around;
    line-height: 40px;
    padding: 10%;
    color: white;
}

.f2 ul li{
    list-style: none;
}
.f2 ul li a{
    color: gray;
}
.f1 .f11{
    padding-top: 6%;
}
.f3 h3{
    padding-bottom: 2%;

}

.ultrafoot{
    color: gray;
    width: 100%;
    display: grid;
    justify-items: center;
    text-decoration: overline;
    padding: 1%;
}

.review{
    background-color:white;
    width: 100%;
}

.testi{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 35px;
    row-gap: 35px;
    padding: 5% 15%;
}
.t1{
    line-height: 30px;
    text-align: justify;
    border: 1px solid rgb(221, 191, 191);
    border-radius: 10px;
    padding: 10px;
}
.t1 img{
    border-radius: 10px;
    width: 100%;
}
.review h2{
    padding: 2%;
    text-align: center;
    font-size: 32px;
}
.review-button{
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    width: 170px;
    color: white;
    cursor: pointer;
    font-family: cursive;
}
.container-button{
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.grider{
    width: 100%;
    padding: 9% 0;
}

.c2 img{
    width: 460px;
    height: auto;
}
.d2 img{
    width: 470px;
    height: auto;
}
.s2 img{
    width: 480px;
    height: auto;
}

.phat{
    max-width: 1170px;
    margin-left: 20%;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.clothing{
    margin-left: 50%;
    position: relative;
}
.c1{
    position: absolute;
    left: -280px;
    top: 140px;
}
.shoes{
    position: relative;
    margin-top: -70px;
}
.accessories{
    position: relative;
    margin-left: 20%;
    margin-top: 8%;
}
.s1{
    position: absolute;
    top: 140px;
    left: -215px;
}

.c1{
    font-size: 25px;
}

.c1 p{
    font-size: 20px;
}
.c1 p:hover{
    color: red;
    text-decoration: overline;
    cursor: pointer;
}

.s1{
    font-size: 25px;
}
.s1 p{
    font-size: 20px;
}
.s1 p:hover{
    color: red;
    text-decoration: overline;
    cursor: pointer;
}

.d1{
    font-size: 25px;
}
.d1 p{
    font-size: 20px;
    color: black;
}

.d1 p:hover{
    color: red;
    text-decoration: overline;
    cursor: pointer;
}

.seller{
    padding: 5px;
    width: 100%;
    padding: 0 14%;
}

.seller-main{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    padding: 10px;
}

.arrival h4:hover{
    color: red;
    cursor: pointer;
}
.arrival img:hover{
    width: 255px;
    height: auto;
    cursor: pointer;
}

.hero{
    position: relative;
    width: 100%;
}
.hero div{
    position: absolute;
    top: 18%;
    left: 25%;
    line-height: 30px;
}

.hero div p{
    font-size: 17px;
    line-height: 30px;
    padding: 35px 0;
}
.hero div h1{
    font-size: 42px;
    line-height: 55px;
}
.hero img{
    width: 100%;
}
.shop-button{
    width: 165px;
    height: 45px;
    color: white;
    background-color: black;
    font-size: 15px;
    font-family: cursive;
}
.shop-button:hover{
    cursor: pointer;
}

.disclaimer{
    position: relative;
    width: 100%;
    padding: 10% 0;
}
.disclaimer div{
    position: absolute;
    top: 31%;
    left: 18%;
    line-height: 30px;
}
.disclaimer img{
    width: 100%;
}

.disclaimer div h2{
    padding: 10px 0;
    padding-bottom: 50px;
}

.rapid{
    position: absolute;
    z-index: 100;
}

#contacts-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contacts-section div{
    padding: 2%;
}

#contacts-section div a{
    padding: 0 10px;
}







/* nav bar stopper */

@media all and (max-width: 1900px) {
    .phat {
      margin-left: 12%;
    }
  }

 
  /* Products */

@media all and (max-width: 500px) {

    .seller{
        padding: 1px;
        width: 100%;
        padding: 0 5%;
    }

    .seller-main{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 14px;
        padding: 4px;
    }
    .arrival h4, .arrival h3, .arrival p{
        font-size: 11px;
    }
}

@media (min-width: 501px) and (max-width: 979px) {

    .seller{
        padding: 2px;
        width: 100%;
        padding: 0 8%;
    }

    .seller-main{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 8px;
        row-gap: 20px;
        padding: 6px;
    }
    .arrival h4, .arrival h3, .arrival p{
        font-size: 13px;
    }
}

@media (min-width: 980px) and (max-width: 1450px) {

    .seller{
        padding: 3px;
        width: 100%;
        padding: 0 10%;
    }

    .seller-main{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 11px;
        row-gap: 30px;
        padding: 8px;
    }
    .arrival h4, .arrival h3, .arrival p{
        font-size: 15px;
    }
}

/* Products Heading */

@media all and (max-width: 700px) {

    .sidebar{
        width: 100%;
    }

    .side li a{
        color: black;
        font-size: 13px;
    }
    .side{
        display: flex;
        justify-content: space-around;
        padding: 60px 8%;
    }
    .side li{
        list-style: none;
        padding: 0 4px;
    }
    .side li a:hover{
        color: red;
        text-decoration: underline red;
        font-size: 13.5px;
    }
    
}

/* About */
@media all and (max-width: 500px) {
    .disclaimer{
        position: relative;
        width: 100%;
        padding: 2% 0;
        margin-top: 20%;
    }
    .disclaimer div{
        position: absolute;
        top: 12%;
        left: 7%;
        line-height: 12px;
        font-size: 6.5px;
    }
    .disclaimer img{
        width: 100%;
    }

    .disclaimer div h2{
        padding: 2px 0;
        padding-bottom: 20px;
    }
}


@media (min-width: 501px) and (max-width: 800px) {
    .disclaimer{
        position: relative;
        width: 100%;
        padding: 3% 0;
    }
    .disclaimer div{
        position: absolute;
        top: 15%;
        left: 7%;
        line-height: 14px;
        font-size: 8px;
    }
    .disclaimer img{
        width: 100%;
    }

    .disclaimer div h2{
        padding: 3px 0;
        padding-bottom: 23px;
    }
}


@media (min-width: 801px) and (max-width: 1250px) {
    .disclaimer{
        position: relative;
        width: 100%;
        padding: 8% 0;
    }
    .disclaimer div{
        position: absolute;
        top: 22%;
        left: 15%;
        line-height: 25px;
        font-size: 12px;
    }
    .disclaimer img{
        width: 100%;
    }

    .disclaimer div h2{
        padding: 8px 0;
        padding-bottom: 40px;
    }
}

/* Review Section */

@media all and (max-width: 600px) {
    .review{
        display: grid;
        justify-content: center;
        margin: 22% 0;
        padding-left: 5.7%;
    }

    .testi{
        width: 100%;
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: 330px 330px 330px 330px 330px 330px;
        column-gap: 15px;
        row-gap: 15px;
        padding: 1% 5%;
    }
    .t1{
        line-height: 17px;
        text-align: justify;
        border: 1px solid rgb(221, 191, 191);
        border-radius: 10px;
        padding: 4px;
    }
    .t1 img{
        border-radius: 10px;
        width: 100%;
    }
    .review h2{
        padding: 1%;
        text-align: center;
        font-size: 18px;
    }
    .review-button{
        background-color: black;
        border: none;
        border-radius: 5px;
        font-size: 8px;
        height: 25px;
        width: 100px;
        color: white;
        cursor: pointer;
        font-family: cursive;
    }
    .t1 svg{
        width: 17px;
        height: 17px;
    }
    .t1 h4{
        font-size: 12px;
    }
    .t1 p{
        font-size: 12px;
    }
}



@media (min-width: 601px) and (max-width: 1250px) {
    .testi{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
        padding: 3% 10%;
    }
    .t1{
        line-height: 22px;
        text-align: justify;
        border: 1px solid rgb(221, 191, 191);
        border-radius: 10px;
        padding: 7px;
    }
    .t1 img{
        border-radius: 10px;
        width: 100%;
        
    }
    .review h2{
        padding: 1%;
        text-align: center;
        font-size: 27px;
    }
    .review-button{
        background-color: black;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        height: 30px;
        width: 130px;
        color: white;
        cursor: pointer;
        font-family: cursive;
    }
    .t1 svg{
        width: 20px;
        height: 20px;
    }
    .t1 h4{
        font-size: 15px;
    }
    .t1 p{
        font-size: 14px;
    }
}


/* Footer */



@media all and (max-width: 500px) {
    .footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-items: space-around;
        line-height: 18px;
        font-size: 8px;
        padding: 5%;
        color: white;
        margin-top: 5%;
    }
    
    .f2 ul li{
        list-style: none;
    }
    .f2 ul li a{
        color: gray;
    }
    .f1 .f11{
        padding-top: 2%;
    }
    .f3 h3{
        padding-bottom: 1%;
    
    }
    
    .ultrafoot{
        color: gray;
        width: 100%;
        font-size: 8px;
        display: grid;
        justify-items: center;
        text-decoration: overline;
        padding: 1%;
    }
    .f1 .f11{
        width: 100px;
        height: auto;
    }
    .f1 #lag{
        width: 120px;
        height: auto;
    }
    .f3 input{
        width: 60px;
        height: 10px;
    }

}



@media (min-width: 501px) and (max-width: 700px) {
    .footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-items: space-around;
        line-height: 25px;
        font-size: 12px;
        padding: 7%;
        color: white;
    }
    
    .f2 ul li{
        list-style: none;
    }
    .f2 ul li a{
        color: gray;
    }
    .f1 .f11{
        padding-top: 3%;
    }
    .f3 h3{
        padding-bottom: 1%;
    
    }
    .f1 .f11{
        width: 120px;
        height: auto;
    }
    .f1 #lag{
        width: 150px;
        height: auto;
    }

    .f3 input{
        width: 80px;
        height: 15px;
    }


    .ultrafoot{
        color: gray;
        width: 100%;
        font-size: 10px;
        display: grid;
        justify-items: center;
        text-decoration: overline;
        padding: 1%;
    }

}

/* Cover Image */

@media all and (max-width: 500px) {
    .hero div{
        position: absolute;
        top: 5.5%;
        left: 7.5%;
        line-height: 8px;
    }

    .hero{
        margin-bottom: 15%;
    }
    
    .hero div p{
        font-size: 6px;
        line-height: 8px;
        padding: 12px 0;
    }
    .hero div h1{
        font-size: 18px;
        line-height: 22px;
    }
    .hero img{
        width: 100%;
    }
    .shop-button{
        width: 60px;
        height: 12px;
        color: white;
        background-color: black;
        font-size: 4px;
        font-family: cursive;
    }
}


@media (min-width:501px) and (max-width: 900px) {
    .hero div{
        position: absolute;
        top: 8%;
        left: 10%;
        line-height: 10px;
    }

    .hero div p{
        font-size: 7px;
        line-height: 10px;
        padding: 15px 0;
    }
    .hero div h1{
        font-size: 21px;
        line-height: 25px;
    }
    .hero img{
        width: 100%;
    }
    .shop-button{
        width: 90px;
        height: 15px;
        color: white;
        background-color: black;
        font-size: 6px;
        font-family: cursive;
    }
}




@media (min-width: 901px) and (max-width: 1100px) {
    .hero div{
        position: absolute;
        top: 20%;
        left: 25%;
        line-height: 20px;
    }

    .hero div p{
        font-size: 10px;
        line-height: 20px;
        padding: 24px 0;
    }
    .hero div h1{
        font-size: 27px;
        line-height: 42px;
    }
    .hero img{
        width: 100%;
    }
    .shop-button{
        width: 115px;
        height: 23px;
        color: white;
        background-color: black;
        font-size: 8px;
        font-family: cursive;
    }
}


@media (min-width: 1101px) and (max-width: 1350px) {
    .hero div{
        position: absolute;
        top: 20%;
        left: 25%;
        line-height: 25px;
    }

    .hero div p{
        font-size: 12px;
        line-height: 25px;
        padding: 28px 0;
    }
    .hero div h1{
        font-size: 33px;
        line-height: 48px;
    }
    .hero img{
        width: 100%;
    }
    .shop-button{
        width: 135px;
        height: 30px;
        color: white;
        background-color: black;
        font-size: 10px;
        font-family: cursive;
    }
}


/* Header */

@media all and (max-width: 600px) {
    .head {
        flex-direction: row;
        padding: 10px 20px;
        text-align: center;
        font-size: 7px;
        color: white;
        background-color: rgba(0, 0, 0, .8);
        justify-content: space-between;
        
        
    }
    .a1, .a2{
        color: white;
        padding: 0 8px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        margin: 7px 0;
        width: 110px;
        height: auto;
    }

    .headerlogo svg{
        width: 15px;
        height: 15px;
    }
    .headerlogo svg:hover{
        width: 16px;
        height: auto;
    }

    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .headerlogo {
        margin: 10px 0;
    }
    .nav.active {
        border-radius: 10px;
        background-color: rgba(250, 233, 236,0.85); /* Set dropdown menu background color to pink */
    }


    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 15px;
        color: black;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .header nav .nav li a{
        font-size: 12px;
    }

    .menu-toggle.active::before {
        content: "✕"; /* Cross icon */
    }

    .menu-toggle:not(.active)::before {
        content: "☰"; /* Menu icon */
    }

    /* When nav is visible */
    .nav.active {
        display: flex;
    }
}

/* Ensure menu button is completely hidden on larger screens */
@media all and (min-width: 601px) {
    .menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .nav {
        display: flex;
        justify-content: center; /* Center the nav items */
        flex: 1;
    }

    nav li {
        margin: 0 15px; /* Adjust spacing between items */
    }
}





@media (min-width: 602px) and (max-width: 730px) {

    .head{
        font-size: 8px;
        color: white;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        padding: 8px 75px;
        justify-content: space-between;
    }
    .a1, .a2{
        color: white;
        padding: 0 8px;
    }
    
    .header{
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding: 1%;
        padding-left: 3%;
        padding-right: 3%;
        background-color: rgba(255, 255, 255, .9);
    }
    .logo{
        width: 85px;
        height: 10px;
    }
    .nav{
        list-style: none;
    }
    nav li{
        display: inline-block;
    }
    nav ul li a{
        color: black;
        padding: 0 3px;
        font-size: 10px;
    }
    nav ul li a:hover{
        color: red;
        font-size: 9px;
    }
    .header div a svg{
        width: 14px;
        height: 14px;
    }
    
    .headerlogo svg:hover{
        width: 13px;
        height: auto;
    }
    
    .headerlogo{
        padding: 0 10px;
    }
    
 }



@media (min-width: 731px) and (max-width: 899px) {

    .head{
        font-size: 10px;
        color: white;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        padding: 9px 65px;
        justify-content: space-between;
    }
    .a1, .a2{
        color: white;
        padding: 0 8px;
    }
    
    .header{
        display: flex;
        height: 60px;
        justify-content: space-between;
        padding: 2%;
        padding-left: 4%;
        padding-right: 4%;
        background-color: rgba(255, 255, 255, .9);
    }
    .logo{
        width: 115px;
        height: 13px;
    }
    .nav{
        list-style: none;
    }
    nav li{
        display: inline-block;
    }
    nav ul li a{
        color: black;
        padding: 0 5px;
        font-size: 12.5px;
    }
    nav ul li a:hover{
        color: red;
        font-size: 12px;
    }
    .header div a svg{
        width: 15px;
        height: 15px;
    }
    
    .headerlogo svg:hover{
        width: 16px;
        height: auto;
    }
    
    .headerlogo{
        padding: 0 10px;
    }
    
 }




 @media (min-width:900px) and (max-width: 1200px) {

    .head{
        font-size: 12px;
        color: white;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        padding: 11px 85px;
        justify-content: space-between;
    }
    .a1, .a2{
        color: white;
        padding: 0 8px;
    }
    
    .header{
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 2.2%;
        padding-left: 4.7%;
        padding-right: 4.7%;
        background-color: rgba(255, 255, 255, .9);
    }
    .logo{
        width: 150px;
        height: 20px;
    }
    .nav{
        list-style: none;
    }
    nav li{
        display: inline-block;
    }
    nav ul li a{
        color: black;
        padding: 0 10px;
        font-size: 15px;
    }
    nav ul li a:hover{
        color: red;
        font-size: 14px;
    }
    .header div a svg{
        width: 17px;
        height: 17px;
    }
    
    .headerlogo svg:hover{
        width: 18px;
        height: auto;
    }
    
    .headerlogo{
        padding: 0 10px;
    }
    
 }


 /* 3 Images */

 @media all and (max-width: 499px) {
    
    .grider{
        width: 100%;
        padding: 8% 0;
    }
    
    .c2 img{
        width: 150px;
        height: auto;
    }
    .d2 img{
        width: 160px;
        height: auto;
    }
    .s2 img{
        width: 170px;
        height: auto;
    }
    .grid{
        display:grid;
        width: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .clothing{
        position: relative;
    }
    .c1{
        position: absolute;
        left: -140px;
        top: 35px;
    }
    .accessories{
        position: relative;
    }
    .s2{
        position: absolute;
        top: -90px;
        right: 0px;
    }
    .s1{
        position: absolute;
        left: 25px;
        top: 8px;
        z-index: 1;
    }
    .shoes{
        position: relative;
        top: 25px;
        left: -14px;
    }


    .c1{
        font-size: 12px;
    }
    
    .c1 p{
        font-size: 8px;
    }
    .c1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .s1{
        font-size: 12px;
    }
    .s1 p{
        font-size: 8px;
    }
    .s1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .d1{
        font-size: 12px;
    }
    .d1 p{
        font-size: 8px;
        color: black;
    }
    
    .d1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
}





 @media (min-width: 500px) and (max-width: 1000px) {
    
    .grider{
        width: 100%;
        padding: 5% 0;
    }
    
    .c2 img{
        width: 260px;
        height: auto;
    }
    .d2 img{
        width: 270px;
        height: auto;
    }
    .s2 img{
        width: 280px;
        height: auto;
    }
    
    .phat{
        max-width: 700px;
        margin-left: 9%;
    }
    
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .clothing{
        margin-left: 55%;
        position: relative;
    }
    .c1{
        position: absolute;
        left: -150px;
        top: 95px;
    }
    .shoes{
        position: relative;
        margin-top: -45px;
        margin-left: 4%;
    }
    .accessories{
        position: relative;
        margin-left: 18%;
        margin-top: 8%;
    }
    .s1{
        position: absolute;
        top: 100px;
        left: -122px;
    }
    
    .c1{
        font-size: 12px;
    }
    
    .c1 p{
        font-size: 8px;
    }
    .c1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .s1{
        font-size: 12px;
    }
    .s1 p{
        font-size: 8px;
    }
    .s1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .d1{
        font-size: 12px;
    }
    .d1 p{
        font-size: 8px;
        color: black;
    }
    
    .d1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
}




 @media (min-width: 1001px) and (max-width: 1149px) {
    
    .grider{
        width: 100%;
        padding: 4% 0;
    }
    
    .c2 img{
        width: 250px;
        height: auto;
    }
    .d2 img{
        width: 260px;
        height: auto;
    }
    .s2 img{
        width: 270px;
        height: auto;
    }
    
    .phat{
        max-width: 900px;
        margin-left: 7%;
    }
    
    
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px;
    }
    .clothing{
        margin-left: 53%;
        position: relative;
    }
    .c1{
        position: absolute;
        left: -180px;
        top: 78px;
    }
    .shoes{
        position: relative;
        margin-top: -50px;
        margin-left: 15%;
    }
    .accessories{
        position: relative;
        margin-left: 15%;
        margin-top: 6%;
    }
    .s1{
        position: absolute;
        top: 100px;
        left: -132px;
    }
    
    .c1{
        font-size: 15px;
    }
    
    .c1 p{
        font-size: 11px;
    }
    .c1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .s1{
        font-size: 15px;
    }
    .s1 p{
        font-size: 11px;
    }
    .s1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .d1{
        font-size: 15px;
    }
    .d1 p{
        font-size: 11px;
        color: black;
    }
    
    .d1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
}



 @media (min-width: 1150px) and (max-width: 1329px) {
    
    .grider{
        width: 100%;
        padding: 5% 0;
    }
    
    .c2 img{
        width: 280px;
        height: auto;
    }
    .d2 img{
        width: 290px;
        height: auto;
    }
    .s2 img{
        width: 300px;
        height: auto;
    }
    
    .phat{
        max-width: 950px;
        margin-left: 10%;
    }
    
    
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }
    .clothing{
        margin-left: 53%;
        position: relative;
    }
    .c1{
        position: absolute;
        left: -220px;
        top: 80px;
    }
    .shoes{
        position: relative;
        margin-top: -50px;
        margin-left: 12%;
    }
    .accessories{
        position: relative;
        margin-left: 19%;
        margin-top: 6%;
    }
    .s1{
        position: absolute;
        top: 135px;
        left: -175px;
    }
    
    .c1{
        font-size: 18px;
    }
    
    .c1 p{
        font-size: 13px;
    }
    .c1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .s1{
        font-size: 18px;
    }
    .s1 p{
        font-size: 13px;
    }
    .s1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .d1{
        font-size: 18px;
    }
    .d1 p{
        font-size: 13px;
        color: black;
    }
    
    .d1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
}



@media (min-width: 1330px) and (max-width: 1455px) {
    
    .grider{
        width: 100%;
        padding: 7% 0;
    }
    
    .c2 img{
        width: 360px;
        height: auto;
    }
    .d2 img{
        width: 370px;
        height: auto;
    }
    .s2 img{
        width: 380px;
        height: auto;
    }
    
    .phat{
        max-width: 1050px;
        margin-left: 15%;
    }
    
    
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .clothing{
        margin-left: 48%;
        position: relative;
    }
    .c1{
        position: absolute;
        left: -250px;
        top: 100px;
    }
    .shoes{
        position: relative;
        margin-top: -60px;
        margin-left: 4%;
    }
    .accessories{
        position: relative;
        margin-left: 17%;
        margin-top: 8%;
    }
    .s1{
        position: absolute;
        top: 135px;
        left: -175px;
    }
    
    .c1{
        font-size: 22px;
    }
    
    .c1 p{
        font-size: 16px;
    }
    .c1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .s1{
        font-size: 22px;
    }
    .s1 p{
        font-size: 16px;
    }
    .s1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
    
    .d1{
        font-size: 22px;
    }
    .d1 p{
        font-size: 16px;
        color: black;
    }
    
    .d1 p:hover{
        color: red;
        text-decoration: overline;
        cursor: pointer;
    }
}